body {
    background-color: #8df0da98
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

missao {
   font-size: 20px;
}

#imagem1 {
    width: 100%
}

#imagem2{
    width: 100%
}

#imagem3 {
    width: 100%
}

